<a href="https://colab.research.google.com/github/MaksimenkoNikolai/my_python/blob/master/Examen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data_stud/stud_spisok_ege.csv"

df = pd.read_csv(url, sep=';')
df

       stud_kod     predmet_name  ball  year    svid_status
0         50095     Русский язык    76  2013  Действительно
1         50095  Английский язык    94  2013  Действительно
2         50095       Математика    56  2013  Действительно
3         50095   Обществознание    70  2013  Действительно
4         50104     Русский язык    72  2013  Действительно
...         ...              ...   ...   ...            ...
12234     47594       Математика    36  2012  Действительно
12235     47594   Обществознание    52  2012  Действительно
12236     47617     Русский язык    58  2012  Действительно
12237     47617       Математика    52  2012  Действительно
12238     47617   Обществознание    61  2012  Действительно

[12239 rows x 5 columns]

**Задача 1.1: определите, сколько всего студентов представлено в наборе данных.**

In [5]:
len(df.stud_kod)

12239

**Задача 1.2: определите по данным ЕГЭ те предметы, которые чаще всего сдают абитуренты в этом вузе.**

In [12]:
df.predmet_name.value_counts()

Математика                  3049
Русский язык                3045
Обществознание              3033
Сочинение                   1303
Английский язык              973
История                      348
Физика                       170
Информатика и ИКТ             83
Биология                      61
Литература                    60
География                     39
Химия                         29
Немецкий язык                 28
Французский язык              11
Английский язык (устный)       6
Немецкий язык (устный)         1
Name: predmet_name, dtype: int64

**Задача 1.3: определите средние, минимальные и максимальные баллы ЕГЭ по отдельным предметам.
Выбор дисциплины реализовать через функцию input().**

In [40]:
predmet=input()
t1=df[df.predmet_name==predmet].ball.mean()
t2=df[df.predmet_name==predmet].ball.min()
t3=df[df.predmet_name==predmet].ball.max()
print('Средний '+str(t1))
print('Минимальный '+str(t2))
print('Максимальный '+str(t3))

Русский язык
Средний 79.13497536945813
Минимальный 0
Максимальный 100

**Задача 1.4: определите годы с максимальными и минимальными показателями ЕГЭ.**

In [130]:
t14=df.year.value_counts().index
maxbal=0
minbal=100000
yearmax=0
yearmin=0
for i in t14:
    if minbal>df[df.year==int(i)].ball.sum():
        minbal=df[df.year==int(i)].ball.sum()
        yearmin=i
    if maxbal<df[df.year==int(i)].ball.sum():
        maxbal=df[df.year==int(i)].ball.sum()
        yearmax=i
print('Год с минимальным баллом '+str(yearmin))
print('Год с максимальным баллом '+str(yearmax))

Год с минимальным баллом 2009
Год с максимальным баллом 2013

**Задача 1.5: определите наиболее часто встречающийся вид контрольной работы в вузе.**

In [95]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data_stud/stud_spisok_ball.csv"

df1 = pd.read_csv(url, sep=';')
df1.head()

   stud_kod  uch_plan_kod  ...          cd_type_name uch_plan_punkt_kod
0         8             1  ...                  Эссе                255
1         8             1  ...           Презентация                255
2         8             1  ...  Аналитическая работа                255
3         8             1  ...               Реферат                293
4         8             1  ...  Аналитическая работа                293

[5 rows x 9 columns]

In [55]:
top5z=df1.cd_type_name.value_counts()
top5z.index[0]

'Контрольная работа'

**Задача 1.6: определите дисциплину(ы), вызвавшую наибольшие сложности у студентов.**

**Это позволит усилить подготовку по данным дисциплинам через внедрение факультативных занятий.**

In [185]:
t16=df1.predmet_name.value_counts().index
t16

Index(['Физическая культура', 'Информатика',
       'Иностранный язык (профессиональный)', 'Иностранный язык',
       'Экономическая теория', 'Математический анализ', 'Линейная алгебра',
       'Деньги, кредит, банки', 'Статистика', 'Экономическая история',
       ...
       'Учет и анализ (финансовый учет, управленческий учет, финансовый анализ)',
       'Элективные курсы по физической культуре',
       'Инновационная политика государства', 'Логистика',
       'Развитие теории и практики управления в России',
       'Региональная политика государства',
       'Учебная практика по получению первичных профессиональных умений и навыков, в том числе первичных умений и навыков научно-исследовательской деятельности',
       'Бакалаврская выпускная квалификационная работа',
       'Учебная практика по получению первичных профессиональных умений и навыков',
       'Стратегический менеджмент'],
      dtype='object', length=247)

In [206]:
k=df1[df1.predmet_name=='Философия'].ball
p=0
for i in range(0,len(k)):
    p=float(str(i).replace(',', '.'))+p
p

624403.0

In [226]:
sumlist=[]
l=0
for i in t16:
    k=df1[df1.predmet_name==i].ball
    p=0
    for i in range(0,len(k)):
        p=float(str(i).replace(',', '.'))+p
    sumlist.append(p)
print(sumlist)
t16[len(t16)-20:len(t16)]

[4747821.0, 4382280.0, 2143485.0, 1880830.0, 1706628.0, 1680861.0, 1230096.0, 1166628.0, 1006071.0, 986310.0, 869221.0, 858705.0, 854778.0, 845650.0, 823686.0, 809628.0, 804546.0, 788140.0, 785631.0, 624403.0, 555985.0, 553878.0, 548628.0, 548628.0, 544446.0, 527878.0, 500500.0, 492528.0, 351541.0, 349030.0, 305371.0, 299151.0, 227475.0, 185136.0, 172578.0, 129286.0, 124251.0, 101475.0, 96141.0, 85905.0, 81406.0, 56953.0, 52975.0, 49770.0, 47586.0, 40755.0, 39060.0, 36585.0, 35245.0, 34191.0, 32896.0, 31878.0, 28920.0, 23653.0, 23005.0, 21321.0, 20706.0, 20503.0, 20503.0, 20301.0, 19900.0, 19701.0, 19701.0, 17578.0, 16836.0, 16110.0, 15931.0, 15931.0, 15225.0, 15225.0, 15225.0, 15225.0, 13366.0, 12880.0, 12246.0, 11628.0, 11628.0, 11476.0, 11325.0, 11026.0, 10878.0, 10731.0, 10585.0, 10011.0, 10011.0, 9870.0, 9730.0, 9730.0, 9730.0, 9730.0, 7750.0, 6670.0, 6555.0, 6328.0, 6105.0, 5778.0, 5778.0, 5460.0, 4560.0, 3828.0, 3828.0, 3828.0, 3828.0, 3828.0, 3828.0, 3741.0, 3741.0, 3486.0, 3486.0, 3486.0, 3486.0, 3486.0, 3486.0, 3486.0, 3321.0, 3321.0, 2628.0, 2415.0, 2346.0, 2211.0, 2145.0, 2145.0, 2145.0, 2145.0, 2145.0, 2145.0, 2145.0, 2145.0, 2080.0, 2080.0, 2016.0, 1953.0, 1953.0, 1953.0, 1953.0, 1953.0, 1953.0, 1953.0, 1953.0, 1770.0, 1485.0, 1485.0, 1485.0, 1431.0, 1326.0, 1275.0, 1275.0, 1225.0, 1225.0, 1225.0, 1225.0, 1225.0, 1176.0, 1176.0, 1128.0, 1081.0, 1035.0, 1035.0, 990.0, 990.0, 946.0, 946.0, 946.0, 946.0, 946.0, 946.0, 946.0, 946.0, 946.0, 946.0, 946.0, 946.0, 946.0, 861.0, 780.0, 780.0, 780.0, 780.0, 780.0, 780.0, 780.0, 780.0, 780.0, 703.0, 703.0, 703.0, 595.0, 595.0, 595.0, 595.0, 561.0, 528.0, 528.0, 528.0, 528.0, 528.0, 528.0, 528.0, 528.0, 528.0, 528.0, 528.0, 528.0, 496.0, 465.0, 435.0, 435.0, 435.0, 435.0, 435.0, 435.0, 435.0, 435.0, 435.0, 435.0, 435.0, 378.0, 378.0, 378.0, 276.0, 210.0, 210.0, 190.0, 171.0, 91.0, 91.0, 45.0, 15.0, 10.0, 10.0, 10.0, 10.0, 10.0, 6.0, 6.0, 6.0, 6.0, 6.0, 3.0, 3.0, 3.0, 3.0, 3.0, 1.0, 0.0, 0.0, 0.0]

Index(['Природопользование', 'Выборочные методы и обследования',
       'Учетно-аналитическое обеспечение управления организацией',
       'Национальная экономика',
       'Многомерный статистический анализ в экономике',
       'Математические пакеты прикладных программ',
       'Международные стандарты финансовой отчетности',
       'Современные технологические системы',
       'Взаимодействие государства и бизнеса',
       'Экономика и организация предприятия и производства',
       'Учет и анализ (финансовый учет, управленческий учет, финансовый анализ)',
       'Элективные курсы по физической культуре',
       'Инновационная политика государства', 'Логистика',
       'Развитие теории и практики управления в России',
       'Региональная политика государства',
       'Учебная практика по получению первичных профессиональных умений и навыков, в том числе первичных умений и навыков научно-исследовательской деятельности',
       'Бакалаврская выпускная квалификационная работа',
       'Учебная практика по получению первичных профессиональных умений и навыков',
       'Стратегический менеджмент'],
      dtype='object')

**Задача 1.7: определите отстающих студентов (претендентов на отчисление).**

In [227]:
t71=df1.stud_kod.value_counts().index
list17=[]
for i in t71:
    k=df1[df1.stud_kod==i].ball
    p=0
    for i in range(0,len(k)):
        p=float(str(i).replace(',', '.'))+p
    list17.append(p)
t71[len(t71)-20:len(t71)]

Int64Index([ 946, 2332,  958,  727,  631, 1926, 1128,  427, 1662, 1335, 2653,
            1704,  703,  715, 2452, 1610, 1305,  776, 2682, 1758],
           dtype='int64')

**Задача 1.8: определите семестр и год, наиболее сложные для отдельных (выбранных) студентов.**

**Выбор id-студента реализовать через функцию input().**

In [352]:
studID=input()
sembal=[]
t181=df1[df1.stud_kod==int(studID)].semestr.value_counts().index
t18=df1[df1.stud_kod==int(studID)]
for j in t181:
    tfor1=t18[t18.semestr==j].ball.dropna()
    p=0
    for i in tfor1:
        p=float(str(i).replace(',', '.'))+p
    sembal.append(p)


print('Сложный семестр '+str(t181[sembal.index(min(sembal))]))

8
Сложный семестр 8

**Задача 1.9: определите, можно ли провести анализ интересов отдельных (выбранных) студентов, исходя из баллов по контрольным работам.**

**Если да, то каким образом?**

**Эта информация позволит в будущем рекомендовать студентам подходящие магистерские программы.**

In [375]:
studID=int(input())
t19=df1[df1.stud_kod==studID]
t20=t19.predmet_name.value_counts()
t20.index[0]

8

'Информатика'

**Задача 1.10: Предложите решение и приведите программный код, каким образом по представленным данным отследить динамику успеваемости отдельных (выбранных) студентов?**

**Выбор id-студента реализовать через функцию input().**