<a href="https://colab.research.google.com/github/MaksimenkoNikolai/my_python/blob/master/football1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv')

NameError: ignored

In [24]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football

       Unnamed: 0                Name  ...  GKPositioning GKReflexes
0               0            L. Messi  ...             14          8
1               1   Cristiano Ronaldo  ...             14         11
2               2           Neymar Jr  ...             15         11
3               3              De Gea  ...             88         94
4               4        K. De Bruyne  ...             10         13
...           ...                 ...  ...            ...        ...
12892       13121        J. Lundstram  ...              8          9
12893       13122  N. Christoffersson  ...              5         12
12894       13123           B. Worman  ...              6         13
12895       13124      D. Walker-Rice  ...              8          9
12896       13125           G. Nugent  ...             12          9

[12897 rows x 42 columns]

In [18]:
df = pd.DataFrame([[i, i + 1.2, i + 2, 'hi'] for i in range(10)],
                  columns=['foo', 'bar', 'baz', 'foobar'])
df.bar.mean()

5.7

# **Задания:**

In [25]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
round(football.Age.mean())

25

In [26]:
football.Composure.count()

12897

In [28]:
round(football.ShortPassing.std(),2)

14.74

In [29]:
football.Wage.sum()

96954000

In [31]:
football.Value.min()

0

In [38]:
round(football[football.Wage.mean()<football.Wage].SprintSpeed.mean(),2)

67.57

In [39]:
round(football[football.Wage.mean()>football.Wage].SprintSpeed.mean(),2)

62.41

In [48]:
football.Wage.max()

565000

In [52]:
football[football.Nationality == 'Brazil'].Penalties.sum()

22789

In [54]:
round(football[football.HeadingAccuracy>50].Age.mean(),2)

25.59

In [91]:
treac=round(football.Reactions.max()/100*90-0.5)
tcomp=round(football.Composure.max()/100*90-0.5)
t=football[football.Reactions>treac]
t[football.Composure>tcomp].Age.min()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

24

In [101]:
old=football[football.Age == football.Age.max()].Reactions.mean()
young=football[football.Age == football.Age.min()].Reactions.mean()
round(old-young,2)

22.64

In [132]:
l=football[football[football.Position=='GK'].GKReflexes.max()==football.GKReflexes].Wage.max()
l2=football[football[football.Position=='GK'].GKHandling.max()==football.GKHandling].Wage.max()
round(l/l2,2)

2.77

In [137]:
t1=football[football.Aggression.max()==football.Aggression].ShotPower.mean()
t2=football[football.Aggression.min()==football.Aggression].ShotPower.mean()
round(t1/t2,2)

2.08