<a href="https://colab.research.google.com/github/MaksimenkoNikolai/my_python/blob/master/football2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football.head()

   Unnamed: 0               Name  Age  ... GKKicking GKPositioning  GKReflexes
0           0           L. Messi   31  ...        15            14           8
1           1  Cristiano Ronaldo   33  ...        15            14          11
2           2          Neymar Jr   26  ...        15            15          11
3           3             De Gea   27  ...        87            88          94
4           4       K. De Bruyne   27  ...         5            10          13

[5 rows x 42 columns]

In [2]:

small_football = football[football.columns[1:8]].head(25)
small_football

                 Name  Age Nationality  ...      Value    Wage  Position
0            L. Messi   31   Argentina  ...  110500000  565000        RF
1   Cristiano Ronaldo   33    Portugal  ...   77000000  405000        ST
2           Neymar Jr   26      Brazil  ...  118500000  290000        LW
3              De Gea   27       Spain  ...   72000000  260000        GK
4        K. De Bruyne   27     Belgium  ...  102000000  355000       RCM
5           E. Hazard   27     Belgium  ...   93000000  340000        LF
6           L. Modrić   32     Croatia  ...   67000000  420000       RCM
7           L. Suárez   31     Uruguay  ...   80000000  455000        RS
8        Sergio Ramos   32       Spain  ...   51000000  380000       RCB
9            J. Oblak   25    Slovenia  ...   68000000   94000        GK
10     R. Lewandowski   29      Poland  ...   77000000  205000        ST
11           T. Kroos   28     Germany  ...   76500000  355000       LCM
12           D. Godín   32     Uruguay  ...   44000000  125000        CB
13        David Silva   32       Spain  ...   60000000  285000       LCM
14           N. Kanté   27      France  ...   63000000  225000       LDM
15          P. Dybala   24   Argentina  ...   89000000  205000        LF
16            H. Kane   24     England  ...   83500000  205000        ST
17       A. Griezmann   27      France  ...   78000000  145000       CAM
18      M. ter Stegen   26     Germany  ...   58000000  240000        GK
19        T. Courtois   26     Belgium  ...   53500000  240000        GK
20    Sergio Busquets   29       Spain  ...   51500000  315000       CDM
21          E. Cavani   31     Uruguay  ...   60000000  200000        LS
22           M. Neuer   32     Germany  ...   38000000  130000        GK
23          S. Agüero   30   Argentina  ...   64500000  300000        ST
24       G. Chiellini   33       Italy  ...   27000000  215000       LCB

[25 rows x 7 columns]

In [3]:
s = small_football['Nationality'].value_counts()
s

Spain        4
Belgium      3
Germany      3
Uruguay      3
Argentina    3
France       2
Portugal     1
England      1
Croatia      1
Poland       1
Slovenia     1
Brazil       1
Italy        1
Name: Nationality, dtype: int64

In [4]:
s.index

Index(['Spain', 'Belgium', 'Germany', 'Uruguay', 'Argentina', 'France',
       'Portugal', 'England', 'Croatia', 'Poland', 'Slovenia', 'Brazil',
       'Italy'],
      dtype='object')

# **Задания:**

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football

       Unnamed: 0                Name  ...  GKPositioning GKReflexes
0               0            L. Messi  ...             14          8
1               1   Cristiano Ronaldo  ...             14         11
2               2           Neymar Jr  ...             15         11
3               3              De Gea  ...             88         94
4               4        K. De Bruyne  ...             10         13
...           ...                 ...  ...            ...        ...
12892       13121        J. Lundstram  ...              8          9
12893       13122  N. Christoffersson  ...              5         12
12894       13123           B. Worman  ...              6         13
12895       13124      D. Walker-Rice  ...              8          9
12896       13125           G. Nugent  ...             12          9

[12897 rows x 42 columns]

In [9]:
s = football['Club'].value_counts()
len(s.index)

650

In [41]:
s = football['Club'].value_counts()
s.index[len(s.index)-1]

'Atlético Mineiro'

In [44]:
s =football['Position'].value_counts(normalize=True)
s.loc[s > 0.1].index

Index(['GK', 'ST', 'CB'], dtype='object')

In [45]:
s =football['Position'].value_counts(normalize=True)
s.loc[s < 0.01].index

Index(['LS', 'RS', 'RWB', 'LWB', 'CF', 'LF', 'RF', 'LAM', 'RAM'], dtype='object')

In [63]:
s = football['FKAccuracy'].value_counts(bins=5)
print(str(s.index[0].left)+'-'+str(s.index[0].right))

21.2-39.4

In [78]:
s = football['FKAccuracy'].value_counts()
s.index[0]

32

In [89]:
s = football[football.Nationality=='Spain']
round(s['Wage'].value_counts(bins=4).values[0]/len(s)*100)

97.0

In [95]:
s=football.loc[football['Club']=='Manchester United']
s=s['Nationality']
len(s.unique())

13

In [115]:
s=football.loc[football['Club']=='Juventus']
s=s.loc[football['Nationality']=='Brazil']
s=s['Name'].unique()
s[[0,len(s)-1]]

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [117]:
s=football.loc[football['Age']>35]['Club'].value_counts()
s.loc[s==s.max()]

Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Name: Club, dtype: int64

In [118]:
football.loc[football['Nationality']=='Argentina']['Age'].value_counts(bins=4).values[3]

49

In [119]:
s=football.loc[football['Nationality']=='Spain']['Age'].value_counts(normalize=True)
s=s.values[0]*100
round(s,2)

11.77