<a href="https://colab.research.google.com/github/MaksimenkoNikolai/my_python/blob/master/group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/python_basic/master/data/vkontakte_group_01_2016-08-01_2020-03-15.csv")
df.head(12)

          Дата    Критерий  Парам. №1 Парам. №2  Значение
0   15.03.2020       views        NaN       NaN         4
1   15.03.2020    visitors        NaN       NaN         3
2   15.03.2020      gender          М       NaN         3
3   15.03.2020         age      24-27       NaN         1
4   15.03.2020         age      30-35       NaN         2
5   15.03.2020  gender_age          М     24-27         1
6   15.03.2020  gender_age          М     30-35         2
7   15.03.2020      cities  Хабаровск       NaN         1
8   15.03.2020      cities   Оренбург       NaN         1
9   15.03.2020   countries     Россия       NaN         3
10  14.03.2020       views        NaN       NaN        14
11  14.03.2020    visitors        NaN       NaN        10

# **1)**

In [0]:
df["Год"]=[i[6::] for i in df["Дата"].values]

Просмотры:

In [15]:
df.loc[df["Критерий"]=="views"].groupby(["Год"])["Значение"].sum()

Год
2016     7199
2017    11872
2018     7055
2019     8754
2020     1444
Name: Значение, dtype: int64

Посещения:

In [16]:
df.loc[df["Критерий"]=="visitors"].groupby(["Год"])["Значение"].sum()

Год
2016    5254
2017    8524
2018    5117
2019    5733
2020     956
Name: Значение, dtype: int64

# **2)**

In [27]:
t=df.loc[df["Критерий"]=="reach"]
t=t.groupby(["Год"])["Значение"].sum()
t

Год
2016    15672
2017    27479
2018    12539
2019    21185
2020     1656
Name: Значение, dtype: int64

In [28]:
t=df.loc[df["Критерий"]=="reach_subscribers"]
t.groupby(["Год"])["Значение"].sum()

Год
2016    3522
2017    4487
2018    2125
2019    9568
2020     536
Name: Значение, dtype: int64

# **3)**

In [29]:
df.loc[df["Критерий"]=="gender"]["Парам. №1"].value_counts(normalize=True)

М    0.502853
Ж    0.497147
Name: Парам. №1, dtype: float64

In [30]:
t=df.loc[df["Критерий"]=="age"].groupby(["Парам. №1"])["Значение"]
t=t.sum().sort_values()
t

Парам. №1
1-18      741
24-27    1751
45+      2350
35-45    2402
27-30    2419
21-24    2560
18-21    3046
30-35    3466
Name: Значение, dtype: int64

In [31]:
t=df.loc[df["Критерий"]=="gender_age"].groupby(["Парам. №1"])
t=t["Парам. №2"].value_counts()
t

Парам. №1  Парам. №2
Ж          18-21         939
           21-24         808
           45+           744
           35-45         659
           24-27         612
           30-35         582
           27-30         495
           1-18          426
М          30-35        1095
           27-30         990
           35-45         783
           45+           718
           21-24         693
           18-21         649
           24-27         574
           1-18          184
Name: Парам. №2, dtype: int64

In [32]:
t=df.loc[df["Критерий"]=="countries"].groupby(["Парам. №1"])["Значение"]
t=t.sum().sort_values(ascending=True)
t

Парам. №1
Австралия                          1
Кот-д'Ивуар                        1
Кувейт                             1
Южно-Африканская Республика        1
Непал                              1
                               ...
Казахстан                        290
США                              340
Беларусь                         506
Украина                          994
Россия                         22367
Name: Значение, Length: 70, dtype: int64

4) 
1.Группа в 2017 получает основной набор аудитории, затем показатели роста становятся средними, при этом сохраняется удержание уже набранной аудитории, идет медленное развитие.
2.Группа популярна на территории СНГ, а так же среди возрастных категорий 18-24 и 30-35 лет.
3.Группа актуальна как для мужчин, так и для женщин, при этом группой в большей мере интересуются женщины 18-24 и 45+ лет, а мужчины возраста 27-45.


5)Данная группа подходит для продвижения товаров среди россиян моложе 30, т.к. основная масса аудитории приходится именно на русскоговорящих в возрастной категории 18-24.