<a href="https://colab.research.google.com/github/MaksimenkoNikolai/my_python/blob/master/sdeputatami.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1)**

In [0]:
import datetime
from datetime import datetime, timedelta

In [10]:
t=datetime.strptime('May 9 2017 9:00AM','%b %d %Y %H:%M%p')
t

datetime.datetime(2017, 5, 9, 9, 0)

In [12]:
t + timedelta(hours=1)

datetime.datetime(2017, 5, 9, 10, 0)

In [13]:
t.strftime('%Y-%m-%d')

'2017-05-09'

# **2)**

In [14]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/new_year_film.csv"
pd.read_csv(url)

                                                 name  ...       director
0                                             Невеста  ...  Билли Уайлдер
1                         Кто приходит в зимний вечер  ...  Билли Уайлдер
2                                 Моя мама Снегурочка  ...  Билли Уайлдер
3                                   Набережная Орфевр  ...  Билли Уайлдер
4                                              Лузер   ...  Билли Уайлдер
..                                                ...  ...            ...
145                                 Карнавальная ночь  ...            NaN
146                                          Квартира  ...            NaN
147                             Когда зажигаются елки  ...            NaN
148                           Кошмар перед Рождеством  ...            NaN
149  Красавица и чудовище: Чудесное Рождество (видео)  ...            NaN

[150 rows x 7 columns]

In [23]:
from statistics import mean
t=pd.read_csv(url)
l=[float(i.replace(",",".")) for i in t['ranking'].values]
mean(l)

7.217393333333334

# **3)-**

# **4)**

In [36]:
from IPython.display import HTML

# Youtube
display(HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/v-rIM2YvTfA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>'))

In [37]:
!pip3 install requests

import requests  
response = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.4.5.1)

In [54]:
import pandas as pd

t=response.json()
t=t['Valute'].keys()

df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it_new.csv')
df.head(10)
df.drop(['Дата рождения','Вакансия', 'Технология', 'Локация', 'З/п в валюте найма'],axis=1, inplace=True)
df.head(5)

   id       col curenc
0   1  140000.0      ₽
1   2  130000.0      ₽
2   3  200000.0      ₽
3   4  250000.0      ₽
4   5  172413.0      ₽

# **5)**

In [57]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/deputat.csv"
df = pd.read_csv(url)
df

          name   lastname     otchestvo  ...       start  end       district
0       Ефимов    Виталий     Борисович  ...  18.09.2016  NaN     Мордовский
1    Максимова    Надежда     Сергеевна  ...  18.09.2016  NaN      Хакасский
2    Мищеряков       Юрий    Николаевич  ...  18.09.2016  NaN   Оренбургский
3       Борцов    Николай      Иванович  ...  18.09.2016  NaN       Липецкий
4       Гончар    Николай    Николаевич  ...  18.09.2016  NaN    Центральный
..         ...        ...           ...  ...         ...  ...            ...
206     Федяев      Павел    Михайлович  ...  18.09.2016  NaN      Заводский
207    Романов     Михаил  Валентинович  ...  18.09.2016  NaN  Юго-Восточный
208     Грибов  Александр     Сергеевич  ...  18.09.2016  NaN    Ярославский
209  Прокопьев  Александр     Сергеевич  ...  18.09.2016  NaN        Бийский
210    Шипулин      Антон  Владимирович  ...  08.09.2019  NaN      Серовский

[211 rows x 8 columns]

In [0]:
def old(x):
    k=int(x[6::])
    t=2020- k
    return t

In [70]:
mean([old(i) for i in df['birthdate'].values])

56.2654028436019

In [71]:
df['gender'].value_counts(normalize=True)

м    0.848341
ж    0.151659
Name: gender, dtype: float64